$blue: hsl(246, 80%, 60%)
$light_red: hsl(15, 100%, 70%) // work
$soft_blue: hsl(195, 74%, 62%) // play
$soft_red: hsl(348, 100%, 68%) // study
$lime_green: hsl(145, 58%, 55%) // exercise
$violet: hsl(264, 64%, 52%)  // social
$soft_orange: hsl(43, 84%, 65%) // self care
$very_dark_blue: hsl(226, 43%, 10%)
$dark_blue: hsl(235, 46%, 20%)
$desaturated_blue: hsl(235, 45%, 61%)
$pale_blue: hsl(236, 100%, 87%)
$font_size: 18px //card titles e.g. Work, Play
$font_family: 'Rubik', sans-serif
$border_radius: 12px

*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none

  &::after, &::before
    box-sizing: border-box
    margin: 0
    padding: 0
    outline: none

html,
body
  height: 100%
  background-color: $very_dark_blue

body
  color: white
  font-family: $font_family
  font-size: $font_size

.main
  &-content
    max-width: 1220px
    height: 100%
    padding: 20px
    margin: 0 auto

    display: flex
    gap: 20px
    flex-direction: column
  
  &-nav
    padding: 30px 20px
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 10px

.nav-item
  color: $desaturated_blue
  text-decoration: none

  &.active
    color: white

.tracking
  &-nav
    background-color: $dark_blue
    border-radius: $border_radius
    display: grid
    grid-template-rows: 1fr auto

  &-head
    background-color: $blue
    border-radius: $border_radius
    padding: 30px 20px

    display: flex
    gap: 10px
    align-items: center

  &-grid
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    gap: 20px
    padding-bottom: 20px

  &-card
    background-color: $dark_blue
    border-radius: $border_radius
    
    &::before
      content: ''
      display: block
      height: 30px
      background-color: $light_red
      padding: 25px 20px
      border-top-left-radius: $border_radius
      border-top-right-radius: $border_radius
      background-image: url('../images/icon-work.svg')
      background-repeat: no-repeat
      background-position: right
      background-size: 80px
      background-origin: content-box

    &:nth-of-type(2)::before
      background-color: $soft_blue
      background-image: url('../images/icon-play.svg')

    &:nth-of-type(3)::before
      background-color: $soft_red
      background-image: url('../images/icon-study.svg')

    &:nth-of-type(4)::before
      background-color: $lime_green
      background-image: url('../images/icon-exercise.svg')

    &:nth-of-type(5)::before
      background-color: $violet
      background-image: url('../images/icon-social.svg')

    &:nth-of-type(6)::before
      background-color: $soft_orange
      background-image: url('../images/icon-self-care.svg')

    .title
      background-color: $dark_blue
      border-top-left-radius: $border_radius
      border-top-right-radius: $border_radius
      margin-top: -10px
      font-size: 16px
      font-weight: 500
      padding: 30px 20px 10px
      display: flex
      justify-content: space-between
      align-items: center

      &::after
        content: url('../images/icon-ellipsis.svg')
        width: 20px
        margin-bottom: 10px

    .description
      color: $desaturated_blue
      font-size: 14px

    .body
      padding: 0 20px 30px
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: center

    span
      display: block

    .time
      font-size: 30px
      font-weight: 300

.profile
  &-info
    span
      display: block

    .title
      color: $pale_blue
      font-size: 14px

    .user-name
      font-size: 25px
      font-weight: 300

  &-avatar
    img
      border: 2px solid white
      border-radius: 50%

@media (min-width: 658px)
  body
    height: 100%
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr
    justify-content: center
    align-items: center

  .main
    &-content
      height: auto
      width: 100%

  .tracking
    &-grid
      padding-bottom: 0

    &-nav
      grid-template-rows: 1fr auto

@media (min-width: 998px)
  .main
    &-content
      display: grid
      grid-template-columns: minmax(23%, auto) 1fr
      
      padding-left: 52px
      padding-right: 52px
      gap: 32px

    &-nav
      flex-direction: column
      padding: 29px 33px 30px
      gap: 20px
      justify-content: start

  .tracking
    &-grid
      column-gap: 28px
      row-gap: 30px
      grid-template-columns: repeat(auto-fill, minmax(245px, 1fr))

    &-head
      flex-direction: column
      align-items: start
      gap: 26px
      justify-content: center

    &-nav
      grid-template-rows: 1fr 1fr

    &-card
      .body
        flex-direction: column
        align-items: start
        padding: 0 29px 32px

      .time
        font-size: 56px
        line-height: 64px

      .title
        padding: 27px 31px 12px
        font-size: 18px
        line-height: 27px

      .description
        font-size: 15px
        font-weight: 500
        padding-top: 13px

  .profile
    &-info
      padding-bottom: 0
      padding-top: 10px

      .user-name
        white-space: pre-line
        margin-top: 5px
        font-size: 40px
        line-height: 47px

    &-avatar
      img
        width: 81px

      .title
        margin-top: 10px

@media (min-width: 1220px)
  .tracking
    &-nav
      grid-template-rows: 1fr auto

    &-head
      padding: 35px 33px 0
      justify-content: start